.gradient{
    background: rgb(144,64,153) !important;
    background: -moz-linear-gradient(343deg, rgba(144,64,153,1) 0%, rgba(97,85,163,1) 62%, rgba(52,139,201,1) 100%) !important;
    background: -webkit-linear-gradient(343deg, rgba(144,64,153,1) 0%, rgba(97,85,163,1) 62%, rgba(52,139,201,1) 100%) !important;
    background: linear-gradient(343deg, rgba(144,64,153,1) 0%, rgba(97,85,163,1) 62%, rgba(52,139,201,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#904099",endColorstr="#348bc9",GradientType=1) !important;
}